* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #FFF2E1; */
    font-family: Montserrat;
}

/* NAVBAR */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .Logo {
    width: 55px;
}

/* NAVBAR */

/* HERO */

.Hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    background-color: #778da9;
}

.Hero-text {
    margin-top: 2em;
}

.Hero-text h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1em;
}

.Hero-text p {
    font-size: 1.3rem;
    padding: 0 1em;
}

.Hero-text button {
    font-size: 1.3rem;
    padding: 0.4em 0.8em;
    margin: 1em;
    border-radius: 2em;
}

.img-cont {
    display: grid;
    /* gap: em; */
    /* margin: 2em 2em; */
    grid-template-areas:
      "img1"
      "img2"
      "img3";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.imag img{
    height: 80%;
}

/* HERO */

/* SERVICIOS */

.Servicios {
    background-color: #e0e1dd;
    padding: 1em 0;
}

.container {
    display: grid;
    gap: 3em;
    /* margin: 2em 2em; */
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card h3 {
    padding: 1em 0.3em;
    font-size: 1.8em;
    text-align: center;
}

.card p {
    padding: 0 1em;
    font-size: 1.5em; 
    line-height: 1.2em;
    padding-bottom: 1em;
}
